.navbar {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  font-weight:bold;
  font-size:17px;
}

.chart-title {  
  font-weight:bold;
  font-size:20px;
}

.navbar-brand {
color:rgb(0, 0, 102)!important;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
  color:white!important;
  background-color:rgba(102, 0, 0, 1) !important;
}

.colored {
  background-color: #ffe8e7;
}